.rem(@name, @px) {
    @{name}: unit(@px / 42, rem);
}

.rem_rounded(@name, @px1, @px2, @px3, @px4) {
    @{name}: unit(@px1 / 42, rem) unit(@px2 / 42, rem) unit(@px3 / 42, rem) unit(@px4 / 42, rem);
}

.rem_3px_1color(@name, @px1, @px2, @px3, @color) {
    @{name}: unit(@px1 / 42, rem) unit(@px2 / 42, rem) unit(@px3 / 42, rem) @color;
}

.game-main-header {
    .rem(height, 166);
    .rem_rounded(padding, 34, 46, 0, 46);
    .rem(font-size, 80);
}

.game-main-header-tittle {
    .rem(font-size, 80);
    .rem(line-height, 130);
    font-weight: bold;
    margin-bottom: 0;
}

.game-main-header-sort-icon-container {
    .rem(height, 110);
    .rem_rounded(padding, 25, 0, 25, 0);
}

.game-main-header-sort-icon {
    .rem(height, 60);
    float: right;
}

.game-carousel {
    .rem_rounded(margin, 24, 44, 100, 44);
}

.game-carousel-inner-container {
    .rem(border-radius, 42);
    .rem(margin-bottom, 24);
}

.carousel-item {
    height: 100%;
    overflow: hidden;
}

.carousel-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    // .rem(margin-top, 22);
}

.carousel-indicators li {
    .rem(height, 8);
    .rem(width, 33);
    border: 0;
    background: #00b5b3;
}

.game-list-card {
    .rem(height, 450);
    .rem_rounded(margin, 0, 0, 100, 0);
}

.game-list-card-header {
    .rem(height, 66);
    .rem_rounded(margin, 0, 44, 50, 44)
}

.game-list-card-header p {
    .rem(line-height, 66);
    .rem(font-size, 50);
    float: left;
}

.game-list-card-header-arrow {
    float: right;
}

.game-list-card-horizontal-list-container {
    // .rem(height, 332);
    overflow-x: auto;
    overflow-y: hidden;
}

.game-list-card-horizontal-list {
    height: 100%;
    // width: 300%;
    .rem(width, 198 * 10);
    // .rem(padding-left, 44);
    // background: linear-gradient(90deg, #01c4ff, #ff6666);
}

.game-list-card-horizontal-list-card {
    .rem(width, 198);
    .rem(height, 332);
    .rem(margin-left, 44);
    float: left;
    border: 0;
}

.game-list-card-horizontal-list-card .card-img-top {
    .rem(border-radius, 34);
    .rem(margin-bottom, 16);
}

.game-list-card-horizontal-list-card .card-body {
    padding: 0;
}

.game-list-card-horizontal-list-card-tittle {
    .rem(height, 59);
    .rem(line-height, 59);
    .rem(margin-bottom, 8);
}

.game-list-card-horizontal-list-card-tittle p {
    .rem(font-size, 44);
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.game-list-card-horizontal-list-card-sort {
    .rem(height, 50);
    .rem(border-radius, 25);
    .rem_rounded(padding, 0,25,0,25);
    margin: 0 auto;
    border: 1px solid #b2b2b2;
}

.game-list-card-horizontal-list-card-sort p {
    .rem(line-height, 50);
    .rem(font-size, 30);
    text-align: center;
    color: #b2b2b2;
}