.rem(@name, @px) {
    @{name}: unit(@px / 42, rem);
}

.rem_rounded(@name, @px1, @px2, @px3, @px4) {
    @{name}: unit(@px1 / 42, rem) unit(@px2 / 42, rem) unit(@px3 / 42, rem) unit(@px4 / 42, rem);
}

.rem_3px_1color(@name, @px1, @px2, @px3, @color) {
    @{name}: unit(@px1 / 42, rem) unit(@px2 / 42, rem) unit(@px3 / 42, rem) @color;
}

.game-main-header {
    .rem(height, 140);
    .rem_rounded(padding, 36, 46, 0, 46);
    .rem(font-size, 80);
}

.game-main-header-tittle {
    .rem(font-size, 80);
    .rem(line-height, 80);
    font-weight: bold;
    margin-bottom: 0;
}

.game-main-header-sort-icon {
    .rem(height, 60);
}

.game-carousel {
    .rem(margin, 44);
}

.game-carousel-inner-container {
    .rem(border-radius, 42);
}

.carousel-item {
    height: 100%;
    overflow: hidden;
}

.carousel-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-indicators {
    .rem(margin-top, 22);
}

.carousel-indicators li {
    .rem(height, 8);
    .rem(width, 33);
    border: 0;
    background: #00b5b3;
}