* {
  margin: 0;
  padding: 0;
}
.home-main-header {
  height: 3.19047619rem;
  background: #ffffff;
}
.home-main-header-logo {
  height: 1.23809524rem;
}
.main-footer {
  height: 2.88095238rem;
  border-top-width: 0.07142857rem;
  padding: 0.57142857rem 1.78571429rem 0.57142857rem 1.78571429rem;
  background: #ffffff;
  border-top-style: solid;
  border-top-color: #ebebeb;
}
.footer-block {
  height: 2.88095238rem;
}
.main-footer-btn {
  height: 1.57142857rem;
}
.today-game-container {
  margin: 3.19047619rem 1.04761905rem 0.80952381rem 1.04761905rem;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1.19047619rem #cccccc;
  height: 25.54761905rem;
  overflow: hidden;
}
.today-game-bg-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.today-game-text-main {
  font-size: 1.42857143rem;
  margin: 1.33333333rem;
}
.today-game-text-past {
  font-size: 0.95238095rem;
}
.today-game-footer {
  min-height: 3.92857143rem;
  padding: 0.64285714rem 0.71428571rem 0.64285714rem 0.71428571rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(90deg, #00b4b4, #007777);
}
.today-game-footer-icon {
  width: 2.61904762rem;
  min-width: 2.61904762rem;
  max-width: 2.61904762rem;
  border-radius: 0.38095238rem;
  margin-right: 0.85714286rem;
  flex: auto;
}
.today-game-footer-content {
  height: 2.61904762rem;
  min-width: 10%;
  flex: auto;
}
.today-game-footer-content-tittle {
  font-size: 1.0952381rem;
  line-height: 1.42857143rem;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.today-game-footer-content-description {
  margin-top: 0.14285714rem;
  font-size: 0.80952381rem;
  line-height: 1.19047619rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.today-game-footer-mark {
  font-size: 0.85714286rem;
  line-height: 1.04761905rem;
  max-width: 5.95238095rem;
  float: right;
  flex: initial;
}
.home-card-container {
  margin: 0rem 1.04761905rem 1.19047619rem 1.04761905rem;
}
.home-card-container-header-arrow {
  min-width: 1.14285714rem;
  height: 1.97619048rem;
  line-height: 1.97619048rem;
  color: #b2b2b2;
  float: right;
  flex: initial;
}
.home-card-description {
  font-size: 0.95238095rem;
  margin-top: 0.85714286rem;
  margin-bottom: 0.85714286rem;
  color: #b2b2b2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-card-header {
  width: 100%;
}
.home-game-card-header-icon {
  height: 1.97619048rem;
  min-width: 1.97619048rem;
  max-width: 1.97619048rem;
  border-radius: 0.38095238rem;
  flex: initial;
}
.home-game-card-header-tittle {
  height: 1.97619048rem;
  line-height: 1.97619048rem;
  min-width: 10%;
  flex: auto;
}
.home-game-card-header-tittle p {
  font-size: 1.04761905rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-game-card-img-container {
  border-radius: 0.71428571rem;
  margin-bottom: 0.95238095rem;
  overflow: hidden;
}
.home-game-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home-game-card-footer {
  height: 1.78571429rem;
}
.home-game-card-footer-mark {
  font-size: 0.76190476rem;
  padding: 0.23809524rem 0.66666667rem 0.23809524rem 0.66666667rem;
  border-radius: 1.19047619rem;
  line-height: 1.30952381rem;
  color: #64cfa9;
  background: #f4f4f4;
  float: left;
}
.home-game-card-footer-download {
  font-size: 0.95238095rem;
  line-height: 1.78571429rem;
  font-weight: bold;
  color: #00b4b4;
  float: right;
}
.home-post-card-header-user-icon {
  height: 1.97619048rem;
  min-width: 1.97619048rem;
  max-width: 1.97619048rem;
  border-radius: 50%;
  flex: initial;
}
.home-post-card-header-user-name {
  height: 1.97619048rem;
  line-height: 1.97619048rem;
  min-width: 10%;
  flex: auto;
}
.home-post-card-header-user-name p {
  font-size: 0.9047619rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-post-card-tittle {
  font-size: 1.04761905rem;
  margin-top: 0.85714286rem;
  margin-bottom: 0rem;
  font-weight: bold;
}
.home-post-card-footer {
  height: 1.78571429rem;
}
.home-post-card-footer-sort {
  font-size: 0.76190476rem;
  padding: 0.23809524rem 0.66666667rem 0.23809524rem 0.66666667rem;
  border-radius: 1.19047619rem;
  line-height: 1.30952381rem;
  color: #b2b2b2;
  background: #f4f4f4;
  float: left;
}
.home-post-card-footer-comment {
  margin-right: 3.33333333rem;
  color: #c3c3c3;
  float: right;
}
.home-post-card-footer-coin {
  color: #c3c3c3;
  float: right;
}
.home-post-card-img-container {
  border-radius: 0.57142857rem;
  margin-bottom: 0.95238095rem;
  overflow: hidden;
}
.home-post-card-img-container-left {
  width: 56%;
  height: 100%;
  float: left;
}
.home-post-card-img-container-right-top {
  width: 42%;
  height: 49%;
  float: right;
}
.home-post-card-img-container-right-bottom {
  width: 42%;
  height: 49%;
  margin-top: 2%;
  float: right;
}
.home-post-card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal-content {
  width: 13.0952381rem;
  height: 6.9047619rem;
  font-size: 1.04761905rem;
  margin-right: 0.52380952rem;
}
.toast-bottom-center {
  margin-bottom: 3.11904762rem;
}
.toast-info {
  background: #00b4b4;
}
